// 

@import '../node_modules/vuetify/src/stylus/settings/_colors'

// https://www.uplabs.com/posts/robinhood-application

$theme:= {
  primary: #21CE99
  secondary: #424242
  accent: #303030
  info: #42A5F5
  warning: #FFA000
  error: #F1563A
  success: #21CE99
}

@import '../node_modules/vuetify/src/stylus/main'

// 33	206	153	= 21ce99
